.main_user_header {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.main {
  min-height: 100vh;
  background-color: #FDEAA8;
}

.posters {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: space-around;
}

.film_info {
  display: flex;
  width: 50%;
  margin: 100px auto 0 auto;
}

.about_film {
  margin: 0 4%;
}

.film_decription {
  margin-top: 20px;
}

.input_select_data {
  text-align: center;
  width: 40%;
  margin: 40px auto;
}

.session_time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 20px 0;
  width: 100%;
  color: white;
  background-color: #1f0b2f;
  cursor: pointer;
}

.session_time:hover {
  background-color: #1FB095;
  color: #1f0b2f;
}

.session_header {
  height: 200px;
  width: 50%;
  margin: 100px auto 0 auto;
  font-size: 20px;
  text-align: left;
  display: flex;
}

.auth_link {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.user_icon {
  text-align: center;
  margin: 0 10px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}
