.pnf_main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pnf_404 {
  padding: 0;
  font-size: 200px;
  font-weight: 800;
  color: #1FB095;
}

.pnf {
  font-size: 50px;
  font-width: 800;
  color: #1FB095;
}