.film {
  width: 100%;
  border-bottom: 2px solid #1FB095;
  color: #9D1905;
  display: flex;
  position: relative;
}

.film_content {
  width: 70%;
  margin: 0 auto;
}

.film_btn {
  position: absolute;
  right: 10px;
}

.film:hover {
  background-color: #CDFCF3;
}

.films {
  margin-top: 15px;
  border: 2px solid #1FB095;
}

.poster {
  width: 300px;
  height: 10%;
}

.content {
  padding: 2% 3%;
}

.btn_change {

  border:none;
  outline: none;
  background-color: #1FB095;
}

.btn_delete:hover {
  background-color: #F50E0E;
}

.btn_delete {
  border: none;
  background-color: #D52727;
}

.btn_change:hover {
  background-color: #09C4A1;
}

.header_content {
  display: flex;
}

.description {
}

.film_header_content {
  display: flex;
  justify-content: space-between;
}

.sessions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.session_item {
  width: 120px;
  height: 100px;
  margin: 2% 2%;
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.session_content {
  width: 100%;
}